logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

bin/
/db
.eclipse
/lib/
/modules
/project/project
/project/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

activator
activator-launch-1.3.6.jar

